.NavbarContainer {
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dd2476,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .logo {
    svg {
      font-size: 3rem;
      margin-right: 1rem;
    }
  }
  .systemName {
    p {
      font-family: "Poppins";
      font-weight: 700;
      font-size: 1.5rem;
    }
  }
}
